*{
    box-sizing: border-box;
    font-weight: lighter;
}

.row{
    width: auto;
    /* height: auto; */
    background-color: gray;
    border: 3px solid black;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 3px 0.1px;
}

h1{
    text-align: center;
}


h3{
    border: 3px solid black;
    text-align: center;
    float: right;
    padding: 5px;
    margin: 0px;
    position: relative;
    bottom: 5px;
    width: 150px;
    margin-bottom: auto;
}

p{
    padding: 5px;
}

.chicken{
    background-color: lightpink;
}

.beef{
    background-color: rgb(208, 13, 13);
    color: white;
}

.sushi{
    background-color: rgb(204, 204, 18);
}


/* desktop version  */
@media (min-width: 992px){
    .col-lg-4{
        float: left;
        width: 30.33%;
    }
}

/*tablet version*/
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6 {
        float: left;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        
    }

    .col-md-12 {
        float: left;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

/*mobile version*/
@media (max-width: 767px) {
    .col-sm-12 {
        float: left;
        width: 100%;
    }
}
