* {
    box-sizing: border-box;
    font-weight: lighter;
}

.sub1, .sub2, .sub3{
    float: left;
    background-color: gray;
    border: 3px solid black;
    margin-bottom: 3px;
    margin-right: 3px;
    padding: 3px 0.1px; 
}

.container{
    top: 60px;
}

.row{
    width: 100%;
    top: 60px;
}

h1{
    text-align: center;
}

h3{
    border: 3px solid black;
    text-align: center;
    float: right;
    padding: 5px;
    margin: 0px;
    position: relative;
    bottom: 5px;
    width: 150px;
}

p{
    padding: 5px;
    font-size: 20px;
}

.chicken{
    background-color: lightpink;
}

.beef{
    background-color: rgb(208, 13, 13);
    color: white;
}

.sushi{
    background-color: rgb(204, 204, 18);
}

/* desktop version  */
@media only screen and (min-width: 992px){
    .sub1, .sub2, .sub3{
        float: left;
        width: 33%;
    }
}

/*tablet version*/
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .sub1, .sub2, .sub3{
        float: left;
    }

    .sub1, .sub2 {
        width: 49%;
    }

    .sub3{
        width: 100%;
    }
}

/*mobile version*/
@media only screen and (max-width: 767px) {
    .sub1, .sub2, .sub3{
        float: left;
        width: 100%;
    }
}
